{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<p>{% trans %}Hello World{% endtrans %}</p>
<p>Hello Another Route</p>
<p><a href="{{ path('index') }}">Home</a></p>
<p><a href="{{ path('another_route') }}">Another route</a></p>
{% endblock %}
