<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <p><a href="{{ path('default_language', {"language": "fr"}) }}">French version</a></p>
        <p><a href="{{ path('default_language', {"language": "en"}) }}">English version</a></p>
        <p><a href="{{ path('default_language', {"language": "es"}) }}">Spanish version</a></p>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
